@use "../../components/utils/_var.scss" as var;

.main{
	max-width: 1920px;
	margin: 0 auto;
}


.introduce {
	width: 100%;
	
	display: flex;

}

@media (max-width:1023px) {
	
.introduce__content {
	flex: 1 1 auto;
	position: relative;
	
	overflow: hidden;

	display: flex;
	flex-direction: column;



	.introduce__image {
		position: relative;
		@media (min-width:630px) {
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			height: 100%;
			@media (min-width:630px) {
				height: 40%;
			}
			@media (min-width:910px) {
				height: 50%;
			}
		}

		width: 100vw;
		
		pointer-events: none;
		user-select: none;


		
		img {
			height: 100%;
			width: 100%;
			position: relative;
			object-fit: cover;
			z-index: 10;
			@media (min-width:630px) {
				object-fit: fill;
			}

		
		}
		&::after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: 11;
			height: 100%;
			width: 100%;
			background-image: linear-gradient(0deg, var.$main 0%, rgba(124, 24, 0, 0) 48px),
			linear-gradient(-153.4349488229deg, var.$main 0%, rgba(234, 44, 0, 0) 50%);
	
		}
			@media (min-width:630px) {
			&::before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				z-index: 11;
				height: 100%;
				width: 100%;
			}
		}
	}
}
@media (min-width:630px) {
	.introduce__pag {
	flex: 0 0 50px;
}
}
@media (min-width:1025px) {
	.introduce__pag {
		flex: 0 0 80px;
	}
}
	


.introduce__box {
	position: relative;
	z-index: 11;
	background-color: black;
	color: #fff;
	display: flex; 
	flex-direction: column;
	@media (min-width:630px) {
		background-color: black;
		margin-top: 20vh;
	}
	@media (min-width:910px) {
		margin-top: 27vh;
	}

	&::after{
		content: '';
		position: absolute;
		top: -15px;
		left: 0;
		z-index: 11;
		height: 15px;
		width: 100%;
		background: linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(255,255,255,0) 99%);

	}



	.introduce__explore {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding:  30px 36px 0 36px;

		.introduce__explore-title {
			font-size: 19px;
			line-height: 24px;
			position: relative;
			@media (min-width:630px) {
				font-size: 48px;
				line-height: 60px;
			}
			&::after{
				content: '';
				position: absolute;
				top: -23px;
				left: -23px;
				
				z-index: 12;
				width: calc(100% +  34px);
				height: 10vh;
				border-top: solid 5px var.$main;
				border-left: solid 5px var.$main;

				animation: title-border-anima 2s ease;

			}
		}
		.introduce__explore-text {
			position: relative;
			max-width: 80%;
			padding: 8px 0 32px 0;
			font-size: 12px;
			line-height: 16px;
			@media (min-width:630px) {
				font-size: 22px;
				line-height: 32px;
			}
		}
		.introduce__explore-button {
			position: relative;
			width: 100%;
			text-align: center;
			padding: 12px 31px;
			background-color: #fff;
			color:var.$main;

			font-weight: 700;
			font-size: 15px;
			letter-spacing: 2px;

			cursor: pointer;
			transition: all 0.3s ease 0s;
			
			&:hover{
				background-color: var.$main;
				color:#fff;
			}
			@media (min-width:630px) {
				width: 60%;
				left: 20%;
				font-size: 18px;
			}
			@media (min-width:1025px) {
				width: 20%;
				left: 0%;
				font-size: 22px;
				padding: 12px 46px;
			}
		}
	}
	.introduce__table {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 40px 16px 30px  16px ;
		@media (min-width:1025px) {
			flex-direction: row;
		}
		.item-col {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			.item{
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				padding: 20px 25px 20px 14px;
				padding-right: 30px;
				@media (min-width:630px) {
					flex-direction: row;
				}
				@media (min-width:1025px) {
					align-items: center;
				}
				.icon {
					position: relative;
					margin: 0 0 8px 5px;
					@media (min-width:630px) {
						margin: 5px 22px 5px 14px;
					}
					@media (min-width:1025px) {
						padding: 20px;
						transform: scale(1.4);
					}

					&::after{

						content: '';
						position: absolute;
						top: -10%;
						left: -10%;
						height: 120%;
						width: 120%;
						border-radius: 50%;
						box-shadow: inset 0 0 0 2px var.$main;
						@media (min-width:630px) {

						}


						animation: cubic-appearance 1s linear;
					}
				}
				.info{
					.info-title{
						font-weight: 200;
						font-size: 19px;
						padding-bottom: 13px;
						@media (min-width:630px) {
							font-size: 26px;
						}
					}
					.info-descr{
						font-size: 14px;
						font-weight: 500;
						@media (min-width:630px) {
							font-size: 22px;
							line-height: 24px;
						}
					}
				}
			}
		}
	}
}

}


@keyframes cubic-appearance{
	0% { clip-path: 	polygon(50% 50%, 50% -21%, 50% -21%, 50% -21%, 50% -21%, 50% -21%); }
	25% { clip-path: 	polygon(50% 50%, 50% -21%, -21% 50%, -21% 50%, -21% 50%, -21% 50%); }
	50% { clip-path: 	polygon(50% 50%, 50% -21%, -21% 50%, 50% 121%, 50% 121%, 50% 121%); }
	75% { clip-path: 	polygon(50% 50%, 50% -21%, -21% 50%, 50% 121%, 121% 50%, 121% 50%); }
    100% { clip-path: 	polygon(50% 50%, 50% -21%, -21% 50%, 50% 121%, 121% 50%, 50% -21%); }
}




// DESKTOP RESPONSIVE PAGE SECTION








// DESKTOP RESPONSIVE PAGE SECTION
@media (min-width:1023px) {
	
	.introduce__content {
		flex: 1 1 auto;
		position: relative;
		overflow: hidden;
	
	
		.introduce__image {
			position: absolute;
			height: 100%;
			width: 100%;
			@media (min-width:1250px) {
				// height: 85%;
			}
			img {
				
				height: 100%;
				width: 100%;
				position: relative;
				object-fit: fill;
				z-index: 10;
				}
			&::after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				z-index: 11;
				height: 100%;
				width: 100%;
	
				background-image: linear-gradient(-153.4349488229deg, var.$main 0%, rgba(234, 44, 0, 0) 50%);
			}
			
				&::before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					z-index: 11;
					height: 100%;
					width: 100%;
					
					background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, black 100%),
					linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 82.4219%),
					linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 82.4219%),
					linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 82.4219%),
					linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 82.4219%);
				}
		}
	}
		.introduce__pag {
			flex: 0 0 80px;
		}

	
	.introduce__box {
		position: relative;
		z-index: 11;
		padding: 207px 66px 17px 66px;
		color: #fff;
		display: flex; 
		flex-direction: column;
	
	
		.introduce__explore {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;

			.introduce__explore-title {
				font-weight: 300;
				font-size: 72px;
				line-height: 80px;
				position: relative;
					&::after{
					content: '';
					position: absolute;
					top: -23px;
					left: -23px;
					
					z-index: 12;
					width: calc(100% +  34px);
					height: 12vh;
					border-top: solid 5px var.$main;
					border-left: solid 5px var.$main;

					animation: title-border-anima 2s ease;
				}
			}
			.introduce__explore-text {
				position: relative;
				max-width: 90%;
				padding: 32px 0 32px 0;
				font-size: 18px;
				letter-spacing: .2px;
				line-height: 32px;
				@media (min-width:630px) {
					font-size: 22px;
					line-height: 32px;
				}
			}
			.introduce__explore-button {
				position: relative;
				left: 0%;
				width: 20%;
				padding: 12px 31px;
				
				background-color: #fff;
				color:var.$main;
				text-align: center;
				font-weight: 700;
				font-size: 15px;
				letter-spacing: 2px;
	
				cursor: pointer;
				transition: all 0.3s ease 0s;
				
				&:hover{
					background-color: var.$main;
					color:#fff;
				}
			}
		}
		.introduce__table {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			padding: 25px 0 30px  0 ;

			.item-col {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				@media (min-width:1250px) {
					flex-direction: row;
					justify-content: flex-start;

				}
				.item{
					@media (min-width:1250px) {
						flex-basis: 50%;
					}
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: flex-start;
					padding: 20px 25px 20px 14px;
					.icon {
						transform: scale(1.54);
						margin: 12px 32px 0 17px;
						&::after{

							content: '';
							position: absolute;
							top: -10%;
							left: -10%;
							height: 120%;
							width: 120%;
							border-radius: 50%;
							box-shadow: inset 0 0 0 1.2px var.$main;
	
	
							animation: cubic-appearance 1s linear;
						}
					}
					.info{
						.info-title{
							font-weight: 200;
							font-size: 34px;
   							line-height: 40px;
							padding-bottom: 13px;
						}
						.info-descr{
							font-size: 18px;
							letter-spacing: .2px;
							line-height: 32px;
							font-weight: 500;
						}
					}
				}
			}
		}
	}
	
		
	}


	@keyframes title-border-anima {   
		from {
			width: 1px; 
			height: 1px;
		}   

		to {
			width: calc(100% +  34px);
			height: 10vh;
		}
	}

